[Unit]
Description=Apache searchlog service
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/searchlog
WorkingDirectory=/home/romak
ExecStart=/bin/bash searchlog.sh $KEYWORD $LOGFILE
Type=simple

[Install]
WantedBy=multi-user.target